
.box {
  border: 1px solid black;
  height: 150px;
}
.hTR {
  color: orange;
}

div {
  background-color: pink;
}
table {
  background-color: yellow;
    position: absolute;
    left: 10px;
    max-width: 100%;
    z-index: -1;  /*  lowest stack order means table in background, icons in front */
}
table, tr, td  {
  border: 1px solid black;
  width: 800px;
}
td {
  height: 80px;
  width: 12x;
}
tr {
  /*height: 10px;
  width: 50px;*/
}

/*.Odie {
  height: 70px;
  width: 70px;
  position: relative;
  TOP: 235px; left: 170px;
} */

 #alien {
  height: 50px;
  position:absolute;
  /*top:40%;
  left:40%;*/
  top:200px;
  left:200px
}
