.box {
  border: 1px solid black;
  height: 150px;
}
.hTR {
  color: orange;
}

div {
  background-color: pink;
}
table {
  background-color: yellow;
    position: absolute;
    left: 10px;
    width: 40%;
    z-index: -1;  /*  lowest stack order means table in background, icons in front */
}
table, th, td  {
  border: 1px solid black;
}
td {
  height: 10px;
  width: 10%;
}
th {
  /*height: 10px;*/
  /*width: 10 px;*/
}

 /*  code fron Donny
setInterval(movePlane, 20);
var keys = {}

$(document).keydown(function(e) {
   keys[e.keyCode] = true;
});

$(document).keyup(function(e) {
   delete keys[e.keyCode];
});


function movePlane() {
   for (var direction in keys) {
       if (!keys.hasOwnProperty(direction)) continue;
       if (direction == 37) {
           $("#").animate({left: "-=5"}, 0);
       }
       if (direction == 38) {
           $("#").animate({top: "-=5"}, 0);
       }
       if (direction == 39) {
           $("#").animate({left: "+=7"}, 0);
       }
       if (direction == 40) {
           $("#").animate({top: "+=5"}, 0);
       }
   }
}; */
